.nav-spacing {
  margin-left: 12px;
}

.nav-warning--color {
  color: white;
  text-decoration: none;
}

.nav-warning--color:hover {
  color: #ffc107;
}

.sampleStyle {
  min-width: 20%;
  flex-grow: 0;
}